mixin ifie()
  <!--[if IE]>
  script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
  <![endif]-->
  <!--[if lt IE 10]>
  script(src='http://phpbbex.com/oldies/oldies.js' charset="utf-8")
  <![endif]-->
