//--- METATAGS
//----- base
mixin meta-ux()
  meta(charset="utf-8")
  //-- viewport for mobile devices
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  //--- IE last version emulator
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  //--- android and other
  meta(name="format-detection" content="address=no; email=no; telephone=no;")
  //--- remove skype toolbars from text on some browser additionals on desktop
  meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")

//----- iOS
mixin metaIOS()
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")

//----- dynamic content
mixin meta-dynamic()
  meta(name="document-state" content="Dynamic")

//----- disable cache
mixin meta-no-cache()
  meta(http-equiv="cache-control" content="no-cache, no-store, must-revalidate")
  meta(http-equiv="Pragma" content="no-cache")

//----- disable search index
mixin meta-noindex()
  meta(name="robots" content="noindex, follow")
