@require 'container'
@require 'section'
@require 'elements'

+theme(card)
  card-container()
  card-types($card-types)
  &__section
    card-section()
    card-section-sizes($card-section-sizes)
    card-section-types($card-section-types)
    card-section-colors($card-section-colors)
    card-section-proportions($card-section-proportions)


  card-elements($card-elements)
