mixin menu()
  +e.menu&attributes(attributes)
    +e.A(href="#products").link.js-target-link Products
    +e.A(href="#features").link.js-target-link Features
    +e.A(href="#registration").link.js-target-link Registration
    +e.A(href="#pricing").link.js-target-link Pricing
    block
