///// BEM mixins
//////// inherited child element
child-el(el...)
	if length(el) > 1
		for item in el
			{'& ^[0]__'+(item)}
				{block}
	else
		& ^[0]__{el}
			{block}

//////// add element with parent block name
add-el(el)
	&^[0]__{el}
		{block}

//////// add modifier with parent block name
add-mod(mod)
	if length(mod) > 1
		for item in mod
			{'&^[0]--'+(item)}
				{block}
	else
		&^[0]--{mod}
			{block}

//////// add parent block element modifier
add-elmod(el,mod)
	&^[0]__{el}--{mod}
		{block}

add-el-mod(el,mod)
	&^[0]__{el}--{mod}
		{block}
