
///// HOVERS
//////// colors
hover-base()
  &:hover
    text-color-base()

hover-theme()
  &:hover
    text-theme()

hover-info()
  &:hover
    text-info()

hover-success()
  &:hover
    text-success()

hover-light()
  &:hover
    text-color-light()

//////// background
hover-bg-theme()
  &:hover
    bg-theme()
    {block}

hover-bg-info()
  &:hover
    bg-info()
    {block}

hover-bg-success()
  &:hover
    bg-success()
    {block}

hover-bg-warning()
  &:hover
    bg-warning()
    {block}

hover-bg-alert()
  &:hover
    bg-alert()
    {block}

hover-bg-light()
  &:hover
    bg-light()
    {block}

hover-bg-dark()
  &:hover
    bg-dark()
    {block}

hover-bg-gray()
  &:hover
    bg-gray()
    {block}

hover-visible()
	&:hover
		visible()
    {block}

hover-opacity(n)
	&:hover
		opacity n
    {block}
