/// rules related to both sides
///// margins
margin-x(n)
  margin-left n
  margin-right n

margin-y(n)
  margin-top n
  margin-bottom n

margins-right(n)
  margin-y(n)
  margin-right n

margins-left(n)
  margin-y(n)
  margin-left n

margins-top(n)
  margin-x(n)
  margin-top n

margins-bottom(n)
  margin-x(n)
  margin-bottom n


///// paddings
padding-x(n)
  padding-left n
  padding-right n

padding-y(n)
  padding-top n
  padding-bottom n

paddings-right(n)
  padding-y(n)
  padding-right n

paddings-left(n)
  padding-y(n)
  padding-left n

paddings-top(n)
  padding-x(n)
  padding-top n

paddings-bottom(n)
  padding-x(n)
  padding-bottom n


///// borders
border-x(n)
  border-left n
  border-right n

border-y(n)
  border-top n
  border-bottom n

borders-right(n)
  border-y(n)
  border-right n

borders-left(n)
  border-y(n)
  border-left n

borders-top(n)
  border-x(n)
  border-top n

borders-bottom(n)
  border-x(n)
  border-bottom n


///// positions
position-x(n)
  left n
  right n

position-y(n)
  top n
  bottom n

position-left-top(n)
  left n
  top n

position-left-bottom(n)
  left n
  bottom n

position-right-top(n)
  right n
  top n

position-right-bottom(n)
  right n
  bottom n


pos-x(n)
  position-x(n)

pos-y(n)
  position-y(n)

pos-left-top(n)
  position-left-top(n)

pos-left-bottom(n)
  position-left-bottom(n)

pos-right-top(n)
  position-right-top(n)

pos-right-bottom(n)
  position-right-bottom(n)
