/// STATES
////// VISIBILITY
//////// unvisible
invisible()
  opacity 0
  pointer-events none

//////// visible
visible()
  opacity 1
  pointer-events all

/////// visible + reset transform
visible-transform()
  visible()
  transform-reset()

///// INHERITED FROM PAGE STATE
///// on page loading
page-loading()
  .{$page-loading} &
    {block}

///// on page loaded
//////// custom rules
page-load()
  .{$page-loaded} &
    {block}

page-loaded()
  .{$page-loaded} &
    {block}

//////// show "hard"
page-load-show()
  display none
  +page-load()
    display block

//////// hide "hard"
page-load-hide()
  display none
  +page-load()
    display block

//////// visible
page-load-visible()
  invisible()
  +page-load()
    visible()

//////// unvisible
page-load-invisible()
  visible()
  +page-load()
    invisible()

//////// on page scroll direction
scroll-up()
  .{$scroll-direction-up} &
    {block}

scroll-down()
  .{$scroll-direction-down} &
    {block}


///// TOUCH
touch()
  .{$touch} &
    {block}

touch-hide()
  +touch()
    display none !important

touch-show()
  +touch()
    display block !important

touch-visible()
  +touch()
    visible()

touch-invisible()
  +touch()
    invisible()

///// MEDIAQUERIES
media-show(bp)
  display none
  +media(bp)
    display block

media-hide(bp)
  +media(bp)
    display none

media-visible(bp)
  +media(bp)
    visible()

media-invisible(bp)
  +media(bp)
    invisible()


///// ACTIVE / INACTIVE (on add active class)
active()
  &.{$active}
    {block}

inactive()
  &.{$inactive}
    {block}

active-visible()
  +active()
    visible()

active-invisible()
  +active()
    invisible()

active-show()
  +active()
    display block

active-hide()
  +active()
    display none
