+theme(message)
  card-message()
  card-message-backgrounds()
  card-message-colors()

  &--lg
    padding-x(($card.section.padding.lg.x) + 3*$rem-px)
    padding-y($card.section.padding.lg.y)

  &--md
    padding-x(($card.section.padding.md.x) + (3*$rem-px))
    padding-y($card.section.padding.md.y)

  &--sm
    padding-x(($card.section.padding.sm.x) + (3*$rem-px))
    padding-y($card.section.padding.sm.y)
