+theme(gallery)
  &__item
    text-color-base()
    display block
    text-align center
    cursor pointer
    border 0
    padding 0

  &__image
    position relative
    display block

    img
      margin-x(auto)

  &__title
    title-base()
    text-h5()
    margin-top $rem-xxs
