.cards-list
  position relative
  &__container
    display flex
    align-items center
    justify-content center
    flex-wrap nowrap
    width 100%
    transition transform .83s $ease-out-circ 0.001s
    will-change transform

  &__item
    box-shadow 0 5px 30px alpha(#000,.3)
    transition transform .8s $ease-out-quint 0s, box-shadow .3s ease 0s
    margin-x(.5rem)
    will-change transform
    position relative
    backface-visibility hidden
    transform-style preserve-3d
    perspective 1000px
    overflow hidden
    border-radius 6px
    clear-margin-x()
    img
      transform translateZ(0.00003px)
      display block
      position relative
      z-index 1
    +before()
      fullsize-scale(-1rem,-1rem)


  +media-min(lg)

    &__container
      transform translateZ(0.00006px) scale(.9)
    &__item
      &:nth-child(1)
        transform translate3d(30%,0,0.00003px) scale(0.95)
        z-index 2

      &:nth-child(2)
        transform translate3d(0,0,0.00004px) scale(1)
        z-index 3

      &:nth-child(3)
        transform translate3d(-30%,0,0.00003px)  scale(0.95)
        z-index 2

  +media(m)
    margin-left -1rem
    margin-right -1rem

    &__container
      scroll-wrap()
      min-width 0
      padding-bottom 1rem
      width auto
      padding-left 1rem
      padding-right 2rem
      justify-content flex-start
      align-items baseline


      +after()
        min-width 1rem
        width 1rem
        flex 1
        height 10px


    &__item
      min-width 280px
      box-shadow none

.wrappppppper
  +media-min(lg)
    &:hover
      .cards-list
        &__container
          transform translateZ(0.00006px) scale(1.12)

        &__item
          transform translate3d(0%,0,0.00004px) scale(1)
          transition transform .55s $ease-out-circ 0s

          &:nth-child(1)
            transform translate3d(25%,0,0.00003px) scale(0.95)

          &:nth-child(3)
            transform translate3d(-25%,0,0.00003px)  scale(0.95)

          &:hover
            transition transform .38s $ease-out-back 0s, box-shadow .3s ease 0s
            box-shadow 0 0px 50px alpha(#000,.5)
            z-index 4

            &:nth-child(1)
              transform translate3d(12%,0,0.00006px) scale(1.05)
              transition transform .34s $ease-out-back 0s

            &:nth-child(2)
              transform translate3d(0%,0,0.00005px) scale(1.08)


            &:nth-child(3)
              transform translate3d(-12%,0,0.00006px) scale(1.05)
              transition transform .34s $ease-out-back 0s


          &--inactive
            &:nth-child(2)
              transform translate3d(0,0,0.00004px) scale(0.968)

        // &--inactive
        //   &:nth-child(1)
        //     transform translate3d(5%,0,0.00003px) scale(0.95)
        //   + .cards-list__item
        //     &--inactive
        //       transform translate3d(-3%,0,0.00004px) scale(0.95)
        //
        // &--active
        //   &:nth-child(1)
        //     + .cards-list__item
        //       transform translate3d(3%,0,0.00004px) scale(0.95)
        //       + .cards-list__item
        //         transform translate3d(-5%,0,0.00003px) scale(0.95)
        //
        //   &:nth-child(2)
        //     + .cards-list__item
        //       transform translate3d(-5%,0,0.00003px) scale(0.95)
