mixin hover-cards(number)
	+b.cards(class="--n"+number)
		+e.container
			+e.item
				+img-temp('example-card-daico','png')
			+e.item
				+img-temp('example-card-sec','png')
			+e.item
				+img-temp('example-card-equity','png')
			+e.item
				+img-temp('example-card-ico','png')