///// document states
$scroll-direction-up = 'scroll-direction-up'
$scroll-direction-down = 'scroll-direction-down'
$scrollbar-compensate = 'scrollbar-compensate'
$document-without-scroll = 'document-without-scroll'

///// body states
$page-loading = 'page-is-loading'
$page-loaded = 'page-is-loaded'
$page-fix = 'page-is-fixed'
$body-fix = 'body-fix'
$touch = 'touch-device'

///// grid names
$grid-row-name = 'parts-row'
$grid-column-name = 'col'

///// container types
$container-types = sm md lg xl fullsize compact scroll
