
/////--- local connection folders variables

/// $themeDir = '../../'
/// $rootDir = $themeDir+'../'
/// $vendorsDir = $themeDir+'vendors/'
/// $fontsInitDir = $vendorsDir+'fonts/init/'
/// $pluginsDir = $vendorsDir+'plugins/'
///
/// $uiDir = $vendorsDir+'parts-ui-beta/'
///
/// $uiCoreDir = $uiDir+'ui-core/'
/// $uiLayoutsDir = $uiDir+'layout/'
/// $uiComponentsDir = $uiDir+'components/'
///
/// $componentsDir = '../components/'
/// $layoutsDir = '../layout/'


/////--- connection from theme directorie

// $rootDir = '../../../../'
// $themeDir = '../../'
//
// $vendorsDir = $themeDir+'vendors/'
// $vendorsRootDir = $rootDir+'vendors/'
//
//
// $fontsInit = $themeDir+'assets/fonts/**/*.styl'
// $fontsRootDir = $vendorsRootDir+'fonts/'
// $fontsRootInit = $fontsRootDir+'init/'
//
// $pluginsRootDir = $vendorsRootDir+'plugins/'
// $pluginsDir = $vendorsDir+'plugins/'
//
// $uiDir = $rootDir+'parts-ui-beta/'
//
// $uiCoreDir = $uiDir+'ui-core/'
// $uiLayoutsDir = $uiDir+'layout/'
// $uiComponentsDir = $uiDir+'components/'
//
// $componentsDir = '../components/'
// $layoutsDir = '../layout/components/**/'
