///// size names
$size-names = xlarge large medium small xsmall
$size-names-reverse = xsmall small medium large xlarge
$size-names-short = xl lg md sm xs
$size-names-short-reverse = xs sm md lg xl
$size-names-cut = xl l m s xs
$size-names-cut-reverse = xs s m l xl

///// grid styles
///////// columns init
$grid-columns-6 = 2..6
$grid-columns-8 = 2..8
$grid-columns-10 = 2..10
$grid-columns-12 = 2..12
$grid-columns-13 = 2..13
$grid-columns-all = 2 3 4 5 6 8 10 12 13

///////// columns spaces
$grid-columns-space = 1rem
$grid-columns-space-xs = 0.1rem
$grid-columns-space-sm = 0.2rem
$grid-columns-space-md = 0.5rem
$grid-columns-space-lg = 1.5rem
$grid-columns-space-xl = 2rem
$grid-columns-space-xxl = 3rem


///// card size styles
$card-scale = 2
$card-scale-rise = .5
$card-types = $card-modifiers

///// icons indents
$icon-side-indent = .5em
