@mixin container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $container-size;
  padding-left: $container-padding;
  padding-right: $container-padding;
}
@mixin section-text {
  font-size: 18px;
  line-height: 1.4em;
}
@mixin after-before-base {
  content: '';
  display: block;
}
@mixin title {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
