+theme(slider)
	position relative

	&--dark
		bg-dark()

	&__container
		position relative
		display block

	&__list
		position relative

	&__item
		position relative
		height auto
		padding-top 0

	&__bg
		bg-dark()
		bg-cover()
		padding-bottom $proportions[rect]
