/// PARTS UI core additionals
$uiCoreDir = 'ui-core'

///// icons additionals
@require $uiCoreDir+'icons/add/inside-button'
@require $uiCoreDir+'icons/add/css-icons'

///// link additionals
@require $uiCoreDir+'link/add/short'

///// cards additionals
@require $uiCoreDir+'cards/add/article'
@require $uiCoreDir+'cards/add/window'
@require $uiCoreDir+'cards/add/message'

///// form additionals
@require $uiCoreDir+'form/mods/index'
