+theme(field)
	position relative
	margin-y($text-indent)
	clear-margin-top()

	&__label
		display block
		width 100%
		font-size 1rem
		margin-bottom $rem-xxs
		text-demi()
		clear-margin-bottom()

	&__note
		text-sm()
		text-color-gray()
		text-regular()
		margin-y($rem-md)
		clear-margin-y()
		position relative

	&--indent
		margin-bottom $rem-h2
