body,
html
  font-family $font-base
  color $base-color
  font-size $root-size
  -webkit-text-size-adjust 100%
  text-size-adjust 100%
  -webkit-font-smoothing antialiased !important
  text-rendering optimizeLegibility
  height 100%
  font-weight normal

body
  min-width 320px
