mixin re-captcha-script()
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer) 
  
mixin re-captcha-item(key)
  div.g-recaptcha(data-sitekey="6LcNKYkUAAAAAO3G_m6_zMkF3Y-f8_JF4XtzGnW-" data-theme="light")
