mixin icon(icon,mod)
  - var modifiers = ''
  if mod != undefined & mod != ''
    - modifiers = mod
  +b.SVG.icon(class=modifiers xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1")&attributes(attributes)
    use(xlink:href="#"+icon xmlns:xlink="http://www.w3.org/1999/xlink")
