+theme(icon)
  &--css
    css-icon-container(40px,0)
    +theme("btn &")
      height auto
      inline-block-md()

  &--angle-up
    css-icon-angle-up(20px,2px,$theme-color,45deg)

  &--angle-down
    css-icon-angle-down(20px,2px,$theme-color,45deg)

  &--angle-left
    css-icon-angle-left(20px,2px,$theme-color,45deg)

  &--angle-right
    css-icon-angle-right(20px,2px,$theme-color,45deg)

  &--plus
    css-icon-plus(30px,2px,$theme-color)

  &--minus
    css-icon-minus(30px,2px,$theme-color)

  &--close
    css-icon-close(30px,2px,$theme-color)

  &--play
    css-icon-play(40px,2px,$theme-color,8px,10px)
