+theme(sidebar)
  scroll-wrap()
  &__container
		flex-col()
		padding-y(0)
		position relative

	&__section
		position relative

		&--content
      scroll-wrap-y()
			// overflow-y auto
			// -webkit-overflow-scrolling touch
			position relative
			flex 1
			padding 0

  &__content
    fullsize()
