
+theme(btn)
  for item in facebook vk youtube vimeo instagram twitter pinterest linkedin soundcloud github googleplus telegram viber messenger whatsapp dribbble foursquare snapchat rss reddit dropbox windows codepen skype designernews twitch yahoo tubmlr wordpress buffer hackernews tumblr android
    &--{item}
      btn-{item}()
