@require '../defaults/input'
@require 'modifiers'
@require 'elements'

input-defaults()

+theme(input)
  position relative
  input-sizes($input-sizes)
  input-elements($input-elements)
  input-mods($input-modifiers)
