-set_bemto_settings({modifier: '--'})

//--- THEME
//----- class names
//- - var themePrefix = theme.prefix;
//- - var themeEl = '.'+themePrefix;
- var themeFile = theme.files.name;

- var isActive = theme.classNames.active;
- var isInactive = theme.classNames.inactive;

//----- directories
- var imagesDir = theme.directories.images;
- var themeDir = '/';
- var imagesTempDir = theme.directories.images+"tmp/";
- var cssDir = theme.directories.css;
- var jsDir = theme.directories.js;
- var faviconDir = theme.directories.images+"favicon/";
