+theme(form)
  &__field
    margin-y($text-indent)
    clear-margin-bottom()

  &__button
    margin-y($rem-lead)
    clear-margin-bottom()

  &__note
    margin-y($rem-sm)
    clear-margin-y()
    text-italic()
    text-sm()
    text-gray()

  &__panel
    bg-gray()
    padding $card-padding
    border-radius $card-radius
    border-gray()
